*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 30vh repeat(4, min-content);
  grid-template-columns: repeat(8, minmax(min-content, 1fr));
}

.heading-1 {
  font-size: 2.5rem;
}

.heading-2 {
  font-size: 1.8rem;
}

.btn {
  height: 3.7rem;
  min-width: 10rem;
  padding: 0.1rem 0.3rem;
  background-color: #FF4C29;
  border-width: 0;
  border-radius: 3px;
  color: white;
}

.blog-posts {
  background-color: green;
  grid-column: 2/-2;
}

.latest-blogs {
  padding: 3rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border-radius: 6px;
  background-color: white;
  margin-top: -5rem;
  display: flex;
  grid-column: 2/-2;
  position: relative;
  z-index: 2;
  flex-direction: column;
}
.latest-blogs__heading {
  display: flex;
  justify-content: space-between;
}
.latest-blogs__tiles {
  display: flex;
  flex-direction: column;
}
.latest-blogs__tiles--tile {
  margin-bottom: -2rem;
  display: flex;
}
.latest-blogs__tiles--tile > * {
  margin: 0.7rem;
}
.latest-blogs__tiles--tile-img {
  height: 78%;
}
.latest-blogs__tiles--tile-content, .latest-blogs__tiles--tile-details {
  height: 15rem;
}
.latest-blogs__tiles--tile-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-basis: 50rem;
}
.latest-blogs__tiles--tile-content-btn {
  align-self: end;
}
.latest-blogs__tiles--tile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.latest-blogs__cta {
  align-self: center;
}

.navbar {
  background-color: #EFEFEF;
  grid-column: 1/-1;
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(8, minmax(min-content, 1fr));
}
.navbar__options {
  grid-column: 6/8;
  display: flex;
  justify-content: space-around;
}
.navbar__options--option {
  margin-top: 1rem;
  font-size: 1.3rem;
}

.logo {
  width: 1rem;
  grid-column: 2/3;
  display: flex;
}
.logo--img {
  height: 3rem;
  margin: 0.3rem;
}

.information {
  grid-column: 2/-2;
  display: flex;
  margin: 5rem;
  padding-bottom: 6rem;
  border-bottom: #EFEFEF solid 1px;
}
.information__contact {
  flex-basis: 30%;
}
.information__contact > * {
  margin-bottom: 1.5rem;
}
.information__contact--socials > * {
  margin-right: 2rem;
}
.information__pages {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  font-size: 1.2rem;
  justify-content: space-around;
}
.information__pages--heading {
  font-size: 1.6rem;
}
.information__recent {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}
.information__partners {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
}
.information__partners > * {
  margin: 0.4rem;
  width: 65%;
}

.sm-width {
  width: 40%;
}

.footer {
  background-color: greenyellow;
  grid-column: 1/-1;
}

/*# sourceMappingURL=styles.css.map */
