$color-redorange : #FF4C29;
$color-grey : #C9CCD5;

$font-primary : Arial, Helvetica, sans-serif;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: $font-primary;
    line-height: 1.6;
}
.container{
    display: grid;
    grid-template-rows: 30vh repeat(4,min-content);
    grid-template-columns: repeat(8,minmax(min-content,1fr));
}
