.information{
    grid-column: 2 /-2;
    display: flex;
    margin: 5rem;
    margin-bottom: 0;
    padding-bottom: 6rem;
    border-bottom: $color-grey solid 1.3px;
    &__contact{
        & > *{
            margin-bottom: 1.5rem;
        }
        flex-basis: 30%;
        &--socials > *{
            margin-right: 2rem;
        }
    }
    &__pages{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
        font-size: 1.2rem;
        justify-content: space-around;
        &--heading{
            font-size: 1.6rem;
        }
    }
    &__recent{
        display: flex;
        flex-direction: column;
        flex-basis: 20%;
    }
    &__partners{
        flex-basis: 30%;
        display: flex;
        flex-direction: column;
        & > *{
            margin: .4rem;
            width: 65%;
        }
    }
}
.sm-width{
    width: 40%;
}