.latest-blogs{
    padding:3rem;
    margin: -5rem 5rem 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    background-color: white;
    display: flex;
    grid-column: 2/-2;
    position: relative;
    z-index: 2;
    flex-direction: column;

    &__heading{
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        margin-left: 3rem;
    }

    &__tiles{
        display: flex;
        flex-direction: column;
        &--tile{
            margin-bottom: -2rem;
            display: flex;
            & > *{
                margin: .7rem;
            }
            &-img{
                height: 78%;
                margin-left: 4rem;
            }
            &-content{
                display: flex;
                flex-direction: column;
                flex-basis: 42rem;
                &-heading{
                    margin-top: 2rem;
                }
                &-desc{
                    font-size: 1.2rem;
                    color: $color-grey;
                }
                &-btn{
                    align-self: end;
                }
            }

            &-details{
                height: 15rem;
                display: flex;
                flex-direction: column;
                justify-content:  flex-end;
                color: $color-grey;
            }
            &-detail{
                margin: 1rem;
            }
        }
    }

    &__cta{
        align-self: center;
    }
}