.navbar{
    background-color: $color-grey;
    grid-column: 1/-1;
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(8,minmax(min-content,1fr));
    &__options{
        grid-column: 6/8;
        display: flex;
        justify-content: space-around;
        &--option{
            margin-top: 1rem;
            font-size: 1.3rem;
        }
    }
}
.logo{
    width: 1rem;
    grid-column: 2/3;
    display: flex;
    &--img{
        height: 3rem;
        margin: .3rem;
    }
}